.setTablet {
    text-align: center;
    padding: 30px 55px;
    background-color: #61dafb;
    color: darkslateblue;
    margin: 5px 5px 10px 5px;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 600;
}



.maxValueCl input {
    margin-left: 35px;
    width: 70px;
    height: 35px;
}

.startValueCl input {
    margin-left: 27px;
    width: 70px;
    height: 35px;


}

.maxValueClError input {
    border: 2px solid red;
    margin-left: 35px;
    width: 70px;
    height: 35px;
}

.startValueClError input {
    margin-left: 27px;
    width: 70px;
    height: 35px;
    border: 2px solid red;

}